#competance{
  position: relative;
  background-color: $deuxiemeCouleur;
  padding:0 0 10vh 0;
  .titreSection{
    color:$textDeuxiemeCouleur;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: stretch;

  }
  .card{
    width: 100%;
    margin-bottom: 20px;
    background-color:lighten($premiereCouleur, 40%);
    @include tablet{
      width: 45%;
    }
    h3{
      background-color: $premiereCouleur;
      color:$textPremierCouleur;
      padding:0;
      margin:0;
      text-align: center;
    }
    ul{
      padding: 10px 30px;
      list-style-type: disc;
      color:$textDeuxiemeCouleur;
    }
  }
  .triangle{
    @include small{
      @include triangle('bottom-right',$premiereCouleur,5vh);
    }
    @include desktop{
      @include triangle('bottom-right',$premiereCouleur,10vh);
    }
  }
}

