#competance{
  position: relative;
  background-color: $couleur_section_primaire;
  padding:$padding_section_table;

  .titreSection{
    color:$couleur_text_primaire;
    padding: 20px 0 0 0;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: stretch;

  }
  .card{
    width: 100%;
    margin-bottom: 20px;
    background-color:$couleur_section_secondaire;
    transition: box-shadow 0.2s linear;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    &:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    @include print{
      box-shadow: none;
    }
    @include tablet{
      width: 45%;

    }
    h3{
      background-color: $couleur_emphase;
      color: whiteorblack($couleur_emphase);
      padding:0;
      margin:0;
      text-align: center;
      @include tablet{
        padding:10px 0;
      }
    }
    ul{
      padding: 10px 60px;
      list-style-type: disc;
      color:whiteorblack($couleur_section_secondaire);
      li{
        line-height: 1.4em;
      }
    }
  }
  .triangle{
    position: absolute;
    top:0;
    left:0;
    @include small{
      @include triangle('top-left',$couleur_section_secondaire,5vh);
    }
    @include desktop{
      @include triangle('top-left',$couleur_section_secondaire,10vh);
    }
  }
}

