#competance{
  position: relative;
  background-color: $Section2_bg_color;
  padding:$Section_tablet_Padding;
  .titreSection{
    color:$couleur_secondaire;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: stretch;

  }
  .card{
    width: 100%;
    margin-bottom: 20px;
    background-color:$Section2_box_bg_color;
    transition: box-shadow 0.2s linear;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    &:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    @include print{
      box-shadow: none;
    }
    @include tablet{
      width: 45%;

    }
    h3{
      background-color: $Section2_box_border_color;
      color:$Section2_font_color;
      padding:0;
      margin:0;
      text-align: center;
      @include tablet{

        padding:10px 0;
      }
    }
    ul{
      padding: 10px 60px;
      list-style-type: disc;
      color:$Section2_box_font_color;
    }
  }
  .triangle{
    position: absolute;
    top:0;
    left:0;
    @include small{
      @include triangle('top-left',$Section1_bg_color,5vh);
    }
    @include desktop{
      @include triangle('top-left',$Section1_bg_color,10vh);
    }
  }
}

