#etudes{
  position: relative;
  background-color: $Section1_bg_color;
  color:$Section1_font_color;
  padding:$Section_mobile_Padding;
  @include tablet{
    padding:8vh 0 0;
  }
  .titreSection{
    color:$Section1_font_color;
  }
  @include small{
    .triangle{
      @include triangle("top-left",$Header_bg_Color,5vh,100vw);
    }
    .triangle2{
      @include triangle("top-left",$border__color,13vh,100vw);
    }
  }
  @include desktop{
    .triangle{
      @include triangle("top-left",$Header_bg_Color,10vh,100vw);
    }
  }
}


