#etudes{
  position: relative;
  background-color: $couleur_section_secondaire;
  color:$couleur_text_secondaire;
  .titreSection{
    color:$couleur_text_secondaire;
  }
  @include small{
    .triangle{
      @include triangle("top-left",$couleur_section_primaire,5vh,100vw);
    }
    .triangle2{
      @include triangle("top-left",$couleur_emphase,13vh,100vw);
    }
  }
  @include desktop{
    .triangle{
      @include triangle("top-left",$couleur_section_primaire,10vh,100vw);
    }
  }
}


