#experience{
  position: relative;
  background-color: $Section1_bg_color;
  padding:$Section_mobile_Padding;
  color:#000;
  @include tablet{
    padding:8vh 0 0;
  }
  @include desktop{
    padding-bottom: 4vh;
  }
  .triangle{
    position: absolute;
    top:0;
    left:0;
    @include small{
      @include triangle('top-left',$Section2_bg_color,5vh);
    }
    @include desktop{
      @include triangle('top-left',$Section2_bg_color,10vh);

    }
  }
  h3{
    @include tablet{
      margin:0;
    }
  }
  .date{
    border-left: 2px solid $border__color;
  }
}