#experience{
  position: relative;
  background-color: $couleur_section_secondaire;
  color:#000;
  @include small{
    padding-bottom:5vh;
  }
  .triangle{
    position: absolute;
    top:0;
    left:0;
    @include small{
      @include triangle('top-left',$couleur_section_primaire,5vh);
    }
    @include desktop{
      @include triangle('top-left',$couleur_section_primaire,10vh);

    }
  }
  h3{
    @include tablet{
      margin:0;
    }
  }
}