footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $Footer_color;
  width:100vw;
  h2{
    color:$Footer_font__color;
    display: block;
    font-size:1rem;
    margin:0;
  }
  @include desktop{
    width:100vw;
    height: 75px;
  }
}