*{
  box-sizing: border-box;
}

body{
  padding:0;
  margin:0;
  font-family: Montserrat, 'sans-serif';
  overflow-x: hidden;
}

ul{
  list-style: none;
  margin:0;
  padding: 0;
}

.container{
  overflow-x: hidden;
  max-width: $containerSizeMobile;
  margin: 0 auto;
  transition-property: width, height;
  transition: 1s ease;

  @include tablet{
    max-width: $containerSizeMobile;
  }
  @include desktop{
    max-width: $containerSizeDesktop;
  }
}
section{
  .titreSection{
    color:$premiereCouleur;
    text-align: center;
  }


}
.more{
    display: block;
    text-align: center;
    i{
      font-size: 2em;
      text-align: center;
    }
    &.active{
      transform: rotate(180deg);
    }
  }

.entry{
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
  .info{
    width: 100%;
    h3{
      margin:2vh 0 0 0;
    }
    p{
      margin:10px 0;
    }
    ul{
      list-style:disc;
      padding-left: 20px;
      font-size: 0.8em;
    }
    @include small{
      width: 80%;
    }
  }
  .date{
    flex-shrink: 0;
    display: none;
    height: 40px;
    border-left: 2px solid $premiereCouleur;
    width: 10%;
    p{
      margin:0 5px;
      @include small{
        margin:0 10px;
      }
    }
    @include small{
      display: block;
      width: 15%;
    }
  }
  &::after{
    position: absolute;
    margin-top:2vh;
    bottom:-2vh;
    left:0;
    content:"";
    width: 100vw;
    border-bottom:2px lighten($premiereCouleur, 40%) solid;
    @include small{
      display: none;
    }
  }
}
@include print{
  *{
    width: 100%;
    margin:0;
    padding:0;
    color:#000 !important;
  }
  h1,h2,h3,h4,h5,h6,ul,li{
    margin:0;
    padding:0;
  }
  .fa-angle-double-down{
    display: none;
  }
  .page-jmp{
    page-break-before: always;
  }

}
