header {
  background-color: $couleur_section_primaire;
  color: $couleur_text_primaire;
  padding: 2vh 0;
  @include tablet {
    padding: 0;
  }
  h1 {
    padding: 2vh 0;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2em;
    margin: 0;
    @include small{
      font-size: 3.5em;
      letter-spacing: 5px;
      // padding:30px 0;
    }
  }
  
  .social_list {
    max-width: 200px;
    margin: 0 auto;
    ul {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-around;
      li {
        background-color: $couleur_background_social;
          height: 40px;
          width: 40px;
        border-radius: 50%;
        overflow: hidden;
        @include small{
          height: 50px;
          width: 50px;
        }
        a{
          display: flex;
          color:whiteorblack($couleur_background_social);
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          transition: font 0.2s ease;
        }
        
      }
      :hover a{
        font-size:2em;
      }
    }
  }
  a {
    color: $couleur_link;
    &:hover {
      color: $couleur_link--hover;
    }
    &:active,
    &:visited {
      color: $couleur_link--active;
    }
  }
}

