/*General option*/
$Section_mobile_Padding:4vh 0;
$Section_tablet_Padding:5vh 0;
/*Couleur du header*/
  $Header_bg_Color:#2b303a !default;
  $Header_font_Color: #fff !default;
  $Header_link_Color:#fff !default;
  $Header_link_OverColor:#fff !default;
  $Header_link_ActiveColor: #c1c1c1 !default;
/*------------------*/

/*Couleur de section 1 Étude*/
$Section1_bg_color: #fff;
$Section1_font_color:#000;
$Section1_link_color:#000;
$Section1_link_hover:#000;
$Section1_link_active:#000;
$Section1_infoline_spliter:$Header_bg_Color;
/*------------------*/

/*Couleur de section 2 compétance*/
$Section2_bg_color: #2b303a;
$Section2_font_color: #2b303a;
$Section2_box_font_color: #2b303a;
$Section2_box_border_color:#ACC12F;
$Section2_box_bg_color: #FFF;
$Section2_link_color:#000;
$Section2_link_hover:#000;
$Section2_link_active:#000;
$Section2_infoline_spliter:$Header_bg_Color;
/*------------------*/

/*Footer color*/
$Footer_color:#ACC12F;
$Footer_font__color:#2b303a;
/*------------------*/


/*couleur diverse*/
$border__color:#ACC12F;

/*Largeur des container selon le breakpoint*/
$containerSizeDesktop:65vw !default;
$containerSizeMobile:90vw !default;

/*Breakpoint min-width*/
$break-small:576px;
$break-tablet:768px;
$break-desktop:992px;
$break-large:1200px;