/*Couleur du site*/
$premiereCouleur : #6c6bba !default;
$deuxiemeCouleur : lighten($premiereCouleur, 40%) !default;


/*Largeur des container selon le breakpoint*/
$containerSizeDesktop:65vw !default;
$containerSizeMobile:90vw !default;

/*Breakpoint min-width*/
$break-small:576px;
$break-tablet:768px;
$break-desktop:992px;
$break-large:1200px;